.container-div {
  height: 100%;
  min-height: 100%;
}

.content {
  padding-top: 56px;
  height: 100%;
  min-height: 100%;
}

mat-toolbar {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 56px;
  z-index: 100;
}

.title {
  padding: 0 16px;
}
