<h1 mat-dialog-title>Rocket Loadout — {{version}}</h1>
<div mat-dialog-content>
  <p>Create and share car designs for Rocket League. Built by <a href="https://steamcommunity.com/id/hlay/" target="_blank">klay</a>.</p>
  <p>Rocket Loadout is not affiliated with Psyonix, Inc. All models and textures belong to Psyonix, Inc.</p>
  <p>View source on <a href="https://github.com/Longi94/rl-loadout" target="_blank">GitHub</a>.</p>
  <p>Hitbox data provided <a href="https://www.reddit.com/user/Trelgne" target="_blank">Trelgne</a>.</p>
</div>
