<h1 mat-dialog-title>Edit item</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="item.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quality</mat-label>
    <mat-select [(ngModel)]="item.quality">
      <mat-option *ngFor="let obj of qualities" [value]="obj.value">
        {{obj.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Icon</mat-label>
    <mat-select [(ngModel)]="item.icon">
      <mat-option *ngFor="let obj of objects.icons" [value]="obj.name">
        {{obj.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="item.paintable">Paintable</mat-checkbox>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select [(ngModel)]="item.model">
      <mat-option *ngFor="let obj of objects.models" [value]="obj.name">
        {{obj.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rim base</mat-label>
    <mat-select [(ngModel)]="item.rim_base">
      <mat-option [value]="undefined">None</mat-option>
      <mat-option *ngFor="let obj of objects.textures" [value]="obj.name">
        {{obj.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rim RGBA map</mat-label>
    <mat-select [(ngModel)]="item.rim_rgb_map">
      <mat-option [value]="undefined">None</mat-option>
      <mat-option *ngFor="let obj of objects.textures" [value]="obj.name">
        {{obj.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
