<h1 mat-dialog-title>Edit Antenna Stick</h1>
<div mat-dialog-content>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let obj of selectedObjects" [value]="obj">
      {{obj}}
    </mat-option>
  </mat-autocomplete>
  <mat-form-field>
    <input matInput placeholder="Model" [(ngModel)]="item.model" [matAutocomplete]="auto">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
