@import "theme.scss";
@import "~angular-notifier/styles.scss";

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: white;
  background-color: $background;
  margin: 0;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.flex-spacer {
  flex-grow: 1;
}

.dg li:not(.folder).stats {
  height: auto;
}
