.canvas-container {
  height: 100%;
  overflow:hidden;
  width:auto;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.full-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.full-overlay > span {
  font-size: 20px;
  margin-bottom: 16px;
}

.full-overlay > mat-progress-bar {
  max-width: 500px;
}
