<h1 mat-dialog-title>Edit item</h1>
<div mat-dialog-content>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let obj of selectedObjects" [value]="obj">
      {{obj}}
    </mat-option>
  </mat-autocomplete>
  <mat-form-field>
    <input matInput placeholder="ID" type="number" [(ngModel)]="item.id" (ngModelChange)="onIdUpdate($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="item.name" disabled>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quality</mat-label>
    <mat-select [(ngModel)]="item.quality">
      <mat-option *ngFor="let obj of qualities" [value]="obj.value">
        {{obj.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Product</mat-label>
    <mat-select [(ngModel)]="selectedProduct" (ngModelChange)="selectProduct($event)">
      <mat-option>
        <ngx-mat-select-search ngModel (ngModelChange)="filterProducts($event)"
                               placeholderLabel="Search"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let obj of filteredProducts" [value]="obj">
        {{obj}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Icon" [(ngModel)]="item.icon" [matAutocomplete]="auto">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="item.paintable">Paintable</mat-checkbox>
  <mat-form-field>
    <input matInput placeholder="Model" [(ngModel)]="item.model" [matAutocomplete]="auto">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Base texture" [(ngModel)]="item.base_texture" [matAutocomplete]="auto">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="RGBA map" [(ngModel)]="item.rgba_map" [matAutocomplete]="auto">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Normal map" [(ngModel)]="item.normal_map" [matAutocomplete]="auto">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
