<div class="color-selector-container">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header [style.background]="colors.primary.value"
        [ngClass]="{'dark-color': colors.primary.textColor === 'white', 'bright-color': colors.primary.textColor === 'black'}">
        <mat-panel-title>Primary</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="color-expansion-content">
        <div class="primary-color-container">
          <div class="color-picker-button" *ngFor="let color of blueColors" [style.background]="color"
            (click)="selectColor($event, 'primary', color)">
          </div>
        </div>
        <div class="primary-color-container">
          <div class="color-picker-button" *ngFor="let color of orangeColors" [style.background]="color"
            (click)="selectColor($event, 'primary', color)">
          </div>
        </div>
        <div class="expansion-actions">
          <button mat-button
            [(colorPicker)]="colors['primary'].value"
            (colorPickerChange)="colorChanged(colors['primary'].value, 'primary')"
                  cpAlphaChannel="disabled">Custom
          </button>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header [style.background]="colors.accent.value"
        [ngClass]="{'dark-color': colors.accent.textColor === 'white', 'bright-color': colors.accent.textColor === 'black'}">
        <mat-panel-title>Accent</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="color-expansion-content">
        <div class="accent-color-container">
          <div class="color-picker-button" *ngFor="let color of accentColors" [style.background]="color"
            (click)="selectColor($event, 'accent', color)">
          </div>
        </div>
        <div class="expansion-actions">
          <button mat-button
            [(colorPicker)]="colors['accent'].value"
            (colorPickerChange)="colorChanged(colors['accent'].value, 'accent')"
                  cpAlphaChannel="disabled">Custom
          </button>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header [style.background]="colors.body.value"
        [ngClass]="{'dark-color': colors.body.textColor === 'white', 'bright-color': colors.body.textColor === 'black'}">
        <mat-panel-title>Body paint</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="color-expansion-content">
        <app-painted-selector [color]="colors.body" type="body"></app-painted-selector>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header [style.background]="colors.decal.value"
        [ngClass]="{'dark-color': colors.decal.textColor === 'white', 'bright-color': colors.decal.textColor === 'black'}">
        <mat-panel-title>Decal paint</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="color-expansion-content">
        <app-painted-selector [color]="colors.decal" type="decal"></app-painted-selector>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header [style.background]="colors.wheel.value"
        [ngClass]="{'dark-color': colors.wheel.textColor === 'white', 'bright-color': colors.wheel.textColor === 'black'}">
        <mat-panel-title>Wheel paint</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="color-expansion-content">
        <app-painted-selector [color]="colors.wheel" type="wheel"></app-painted-selector>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
