.color-selector-container {
  padding: 16px;
  height: 100%;
  box-shadow: -12px 0px 35px 15px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 50;
}

.color-label {
  margin-right: 8px;
}

.color-picker-button {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: solid 1px black;
  cursor: pointer;
}

.primary-color-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 280px;
  justify-content: center;
}

.dropdown-button {
  margin-top: 8px;
  padding: 0 8px;
  display: flex;
  justify-content: flex-end;
}
